.cmm-editing {
  margin-top: 20px;
}
.cmm-editing .cmm-editing-content {
  height: 500px;
}
.cmm-editing .cmm-editing-content .cmm-textarea {
  height: 100%;
  margin-bottom: 10px;
}
.cmm-editing .cmm-editing-foot .cmm-button-group {
  margin-top: 50px;
}
