@charset "UTF-8";
.cmm-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}
.cmm-toggle .cmm-input-toggle {
  opacity: 0;
  width: 0;
  height: 0;
}
.cmm-toggle .cmm-input-toggle:checked + .cmm-toggle-slider {
  background-color: #469ef0;
}
.cmm-toggle .cmm-input-toggle:checked + .cmm-toggle-slider::before {
  transform: translateX(20px);
}
.cmm-toggle .cmm-toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}
.cmm-toggle .cmm-toggle-slider::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 3px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

.cmm-form-invalid-feedback .cmm-form-text {
  font-weight: bold;
  color: #f44336;
}

.cmm-list-board {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-top: 2px solid #4472c4;
  border-bottom: 2px solid #ccc;
}

.cmm-list-board-head {
  width: 100%;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 8px 0px;
  border-bottom: 1px solid #ccc;
  background-color: #ccd9f0;
}
.cmm-list-board-head .cmm-list-item-column {
  flex: 1;
  padding: 0px 8px;
  text-align: center;
  box-sizing: border-box;
  border-left: 2px solid #ccc;
}
.cmm-list-board-head .cmm-list-item-column:first-child {
  border-left: 0;
}

.cmm-list-item {
  width: 100%;
  max-width: 100%;
  display: inline-flex;
  border-bottom: 1px solid #e2e2e2;
}
.cmm-list-item:last-child {
  border-bottom: 0;
}
.cmm-list-item .cmm-list-item-column {
  flex: 1;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding: 8px;
  border-right: 1px solid #e2e2e2;
}
.cmm-list-item .cmm-list-item-column:last-child {
  border-right: 0;
}

.cmm-pagination {
  width: 100%;
}
.cmm-pagination .cmm-pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cmm-pagination .cmm-pagination-wrapper .cmm-pagination-number {
  width: 34px;
  margin: 0px 3px;
  padding: 6px 0px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.cmm-pagination .cmm-pagination-wrapper .cmm-pagination-number-selected {
  background-color: #81bef7;
  border-color: #81bef7;
  color: #fff;
}
.cmm-pagination .cmm-pagination-wrapper .cmm-pagination-first,
.cmm-pagination .cmm-pagination-wrapper .cmm-pagination-prev,
.cmm-pagination .cmm-pagination-wrapper .cmm-pagination-next,
.cmm-pagination .cmm-pagination-wrapper .cmm-pagination-last {
  width: 34px;
  margin: 0px 3px;
  padding: 6px 0px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.cmm-pagination img {
  width: 14px;
  height: 12px;
}

.cmm-search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cmm-search-bar .cmm-search-bar-select {
  width: 25%;
  border-radius: 0;
}
.cmm-search-bar .cmm-search-bar-input {
  width: 55%;
  border-radius: 0;
}
.cmm-search-bar .cmm-search-bar-button {
  width: 15%;
  height: 33px;
}

@media (max-width: 415px) {
  .cmm-search-bar {
    flex-direction: column;
  }
  .cmm-search-bar .cmm-search-bar-select {
    width: 100%;
  }
  .cmm-search-bar .cmm-search-bar-input {
    width: 100%;
  }
  .cmm-search-bar .cmm-search-bar-button {
    width: 100%;
    height: 33px;
  }
  .cmm-search-bar > * {
    margin: 5px 0px;
  }
}
.cmm-graph-list-option {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cmm-graph-list-option .cmm-graph-list-option-sort {
  padding: 0px 3px;
  width: 90px;
}
.cmm-graph-list-option .cmm-graph-list-option-sort > img {
  width: 1rem;
}
.cmm-graph-list-option .cmm-graph-list-option-term {
  max-width: 110px;
  border-radius: 0;
}

@media (max-width: 415px) {
  .cmm-graph-list-option {
    flex-wrap: wrap;
  }
  .cmm-graph-list-option .cmm-graph-list-option-sort {
    width: 100%;
    justify-content: center;
    padding: 5px 0px;
  }
  .cmm-graph-list-option .cmm-graph-list-option-sort > * {
    margin: 0px 5px;
  }
  .cmm-graph-list-option .cmm-graph-list-option-term {
    max-width: 100%;
    border-radius: 0;
  }
  .cmm-graph-list-option > * {
    margin: 5px 0px;
  }
}
.cmm-category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.cmm-category-all {
  flex: 1;
  height: auto;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.cmm-category-all .cmm-category-button {
  width: 100%;
  height: 100%;
}

.cmm-category-group {
  display: flex;
  flex: 4;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.cmm-category-group .cmm-category-button-wrapper {
  display: inline-block;
  min-width: 10%;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.cmm-category-group .cmm-category-button-wrapper .cmm-category-button {
  width: 100%;
  height: 50px;
}

@media (max-width: 1024px) {
  .cmm-category-all {
    flex: 2;
  }

  .cmm-category-group .cmm-category-button-wrapper {
    min-width: 25%;
  }
}
@media (max-width: 415px) {
  .cmm-category-all {
    flex: none;
    width: 100%;
    height: 100px;
  }

  .cmm-category-group {
    flex: none;
    width: 100%;
  }
  .cmm-category-group .cmm-category-button-wrapper {
    min-width: 100%;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
.cmm-editing {
  width: 100%;
}
.cmm-editing .cmm-editing-head {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cmm-editing .cmm-editing-head .cmm-input-text {
  width: 84%;
}
.cmm-editing .cmm-editing-head .cmm-select {
  width: 15%;
  min-width: 100px;
}
.cmm-editing .cmm-editing-content {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px;
}
.cmm-editing .cmm-editing-content .cmm-textarea {
  display: block;
  width: 100%;
  height: 100%;
}
.cmm-editing .cmm-editing-content .cmm-input-file {
  display: block;
  width: 100%;
}
.cmm-editing .cmm-editing-foot {
  width: 100%;
}
.cmm-editing .cmm-editing-foot .cmm-button-group {
  display: inline-flex;
  justify-content: center;
}
.cmm-editing .cmm-editing-foot .cmm-button-group > * {
  margin: 0px 5px;
}

.cmm-thumbnail-list {
  width: 100%;
  height: auto;
}
.cmm-thumbnail-list .cmm-thumbnail-list-item-group {
  width: 100%;
}
.cmm-thumbnail-list .cmm-thumbnail-list-item-group .cmm-thumbnail-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 10px;
  border-bottom: 1px solid #e2e2e2;
  box-sizing: border-box;
}
.cmm-thumbnail-list .cmm-thumbnail-list-item-group .cmm-thumbnail-list-item:first-child {
  border-top: 2px solid #4472c4;
}
.cmm-thumbnail-list .cmm-thumbnail-list-item-group .cmm-thumbnail-list-item:last-child {
  border-bottom: 2px solid #4472c4;
}

@media (max-width: 415px) {
  .cmm-thumbnail-list .cmm-thumbnail-list-item-group .cmm-thumbnail-list-item {
    display: block;
  }
  .cmm-thumbnail-list .cmm-thumbnail-list-item-group .cmm-thumbnail-list-item > * {
    width: 100%;
  }
}
.cmm-thumbnail-list-grid {
  width: 100%;
  height: auto;
}

.cmm-thumbnail-list-grid-item-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.cmm-thumbnail-list-grid-item-group .cmm-thumbnail-list-grid-item {
  flex: 0 1 24.25%;
  margin-right: 1%;
  margin-bottom: 1%;
}
.cmm-thumbnail-list-grid-item-group .cmm-thumbnail-list-grid-item:nth-child(4n+4) {
  margin-right: 0;
}
.cmm-thumbnail-list-grid-item-group .cmm-thumbnail-list-grid-item > * {
  width: 100%;
}

@media (max-width: 1024px) {
  .cmm-thumbnail-list-grid-item-group .cmm-thumbnail-list-grid-item {
    flex: 0 1 32.668%;
  }
  .cmm-thumbnail-list-grid-item-group .cmm-thumbnail-list-grid-item:nth-child(4n+4) {
    margin-right: 1%;
  }
  .cmm-thumbnail-list-grid-item-group .cmm-thumbnail-list-grid-item:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media (max-width: 415px) {
  .cmm-thumbnail-list-grid-item-group .cmm-thumbnail-list-grid-item {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
  .cmm-thumbnail-list-grid-item-group .cmm-thumbnail-list-grid-item:nth-child(4n+4) {
    margin-right: 0;
  }
}
.cmm-carousel-horizontal {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  z-index: 1;
}
.cmm-carousel-horizontal > .cmm-carousel-item-group-wrapper {
  width: 95%;
  overflow: hidden;
  margin: 0 auto;
}
.cmm-carousel-horizontal > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group {
  width: 200%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
.cmm-carousel-horizontal > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group > .cmm-carousel-item {
  width: 25%;
  margin: 0px 10px;
  box-sizing: border-box;
}
.cmm-carousel-horizontal > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group > .cmm-carousel-item > .cmm-thumbnail {
  width: 100%;
  height: auto;
}
.cmm-carousel-horizontal > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group > .cmm-carousel-item > .cmm-thumbnail > a {
  display: block;
}
.cmm-carousel-horizontal > .cmm-carousel-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-top: -1em;
}
.cmm-carousel-horizontal > .cmm-carousel-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-top: -1em;
}

@media (max-width: 1024px) {
  .cmm-carousel-horizontal > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group {
    width: 266.667%;
  }
  .cmm-carousel-horizontal > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group > .cmm-carousel-item {
    width: 33.333%;
  }
}
@media (max-width: 415px) {
  .cmm-carousel-horizontal > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group {
    width: 800%;
  }
  .cmm-carousel-horizontal > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group > .cmm-carousel-item {
    width: 100%;
    margin: 0px 30px;
  }
  .cmm-carousel-horizontal > .cmm-carousel-prev {
    width: 10%;
  }
  .cmm-carousel-horizontal > .cmm-carousel-next {
    width: 10%;
  }
}
.cmm-carousel-vertical {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  padding: 30px 0px;
  box-sizing: border-box;
}
.cmm-carousel-vertical > .cmm-carousel-item-group-wrapper {
  width: 100%;
  height: 770px;
  overflow: hidden;
}
.cmm-carousel-vertical > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group {
  width: 100%;
  height: 1530px;
  box-sizing: border-box;
}
.cmm-carousel-vertical > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group > .cmm-carousel-item {
  height: 180px;
  margin: 10px 0px;
  box-sizing: border-box;
}
.cmm-carousel-vertical > .cmm-carousel-item-group-wrapper > .cmm-carousel-item-group > .cmm-carousel-item > .cmm-thumbnail {
  width: 100%;
  height: 100%;
}
.cmm-carousel-vertical > .cmm-carousel-prev {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  z-index: 10;
  background-color: transparent;
  border: 0;
  padding: 0;
  transform: rotate(90deg);
}
.cmm-carousel-vertical > .cmm-carousel-next {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.7em;
  z-index: 10;
  background-color: transparent;
  border: 0;
  padding: 0;
  transform: rotate(90deg);
}

.cmm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  visibility: hidden;
}
.cmm-modal .cmm-modal-dialog-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.cmm-modal .cmm-modal-dialog-wrapper .cmm-modal-dialog {
  position: relative;
  width: calc(100vw - 30px);
  max-width: 450px;
  height: 80%;
  padding: 15px;
  z-index: 520;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.27);
}
.cmm-modal .cmm-modal-background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 510;
  background: black;
  background: transparent\9 ;
  background: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6c800000,endColorstr=#6c800000);
  zoom: 1;
}

.cmm-modal-crud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  visibility: hidden;
}
.cmm-modal-crud .cmm-modal-crud-dialog {
  position: absolute;
  z-index: 520;
  width: 100%;
  max-width: 550px;
  height: 100vh;
  top: 0;
  right: -550px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.27);
  transition: all 0.4s;
}
.cmm-modal-crud .cmm-modal-crud-dialog .cmm-modal-head {
  flex: 1;
}
.cmm-modal-crud .cmm-modal-crud-dialog .cmm-modal-content {
  flex: 6;
}
.cmm-modal-crud .cmm-modal-crud-dialog .cmm-modal-foot {
  flex: 1;
}
.cmm-modal-crud .cmm-modal-crud-background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 510;
  background: black;
  background: transparent\9 ;
  background: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6c800000,endColorstr=#6c800000);
  zoom: 1;
}

@media (max-width: 1024px) {
  .cmm-modal-crud .cmm-modal-crud-dialog {
    max-width: 850px;
  }
}
@media (max-width: 415px) {
  .cmm-modal-crud .cmm-modal-crud-dialog {
    max-width: 100%;
  }
}
.cmm-detail-view {
  width: 100%;
  border-top: 2px solid #4472c4;
  border-bottom: 2px solid #4472c4;
  box-sizing: border-box;
}
.cmm-detail-view .cmm-detail-view-head {
  padding: 30px;
  text-align: center;
  border-bottom: 2px solid #e2e2e2;
  box-sizing: border-box;
}
.cmm-detail-view .cmm-detail-view-head > * {
  display: block;
  margin: 20px 0px;
}
.cmm-detail-view .cmm-detail-view-content {
  padding: 50px 0px;
  border-bottom: 2px solid #e2e2e2;
  box-sizing: border-box;
}
.cmm-detail-view .cmm-detail-view-foot {
  padding: 50px 0px;
}

.cmm-tree {
  width: 100%;
  height: 500px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px 20px;
  box-sizing: border-box;
}
.cmm-tree .cmm-tree-item-click {
  position: relative;
  z-index: 1;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.cmm-tree .cmm-tree-item-click::before {
  width: 17px;
  content: "📁";
  margin-right: 5px;
}
.cmm-tree .cmm-tree-item {
  margin: 5px 0px;
}
.cmm-tree .cmm-tree-item .cmm-tree-item-group {
  padding-left: 25px;
}
.cmm-tree .cmm-tree-item .cmm-tree-item-group .cmm-tree-item-icon {
  cursor: pointer;
}
.cmm-tree .cmm-tree-item .cmm-tree-item-group .cmm-tree-item-icon::before {
  content: "📄";
  margin-right: 5px;
}

.cmm-tree-item-open {
  font-weight: 600;
}
.cmm-tree-item-open::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 17px;
  content: "📂";
  background-color: #fff;
}
