.cmm-status-board {
  margin: 20px 0px;
  .cmm-status-board-graph {
    width: 32%;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    > img {
      width: 100%;
    }
  }
}

.cmm-search-bar {
  max-width: 500px;
  margin: 20px 0px 10px 0px;
}

.cmm-table-board {
  th {
    text-align: center;
  }
  thead {
    th:nth-child(2) {
      width: 20%;
    }
    th:nth-child(3) {
      width: 40%;
    }
    th:nth-child(4),
    th:nth-child(5),
    th:nth-child(6) {
      width: 10%;
    }
  }
  tbody {
    td,
    th {
      border-right: 1px solid #e2e2e2;
      &:last-child {
        border-right: 0;
      }
    }
  }
}

.cmm-pagination {
  margin-top: 50px;
}
