.sign-up-title {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  > h3 {
    text-align: center;
    margin-bottom: 30px;
  }
  .sign-up-step {
    margin-bottom: 30px;
    width: 100%;
    li {
      margin: 0px 8px;
      &::after {
        padding-left: 10px;
        font-size: 20px;
        content: "›";
      }
      &:last-child::after {
        content: "";
      }
      &.selected span {
        color: #4472c4;
      }
      span b {
        padding-right: 3px;
      }
    }
  }
}

.info-content-wrapper {
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
  b {
    padding-right: 3px;
    color: #4472c4;
  }
  .content-title {
    margin-bottom: 10px;
  }
}

.cmm-form {
  width: 100%;
  > label > input {
    margin-top: 5px;
    margin-bottom: 20px;
    &::placeholder {
      color: #bbbbbb;
    }
  }
  .cmm-input-group {
    flex-direction: row;
    > label {
      width: auto;
      margin-right: 10px;
    }
  }
  button {
    margin-top: 30px;
    &.cmm-signIn {
      color: #fff;
      background-color: #4472c4;
      border-color: #4472c4;
    }
  }
}
