.cmm-detail-view-foot {
  .cmm-button {
    display: initial;
    align-items: initial;
    justify-content: initial;
    margin-right: 5px;
  }
  .cmm-button-group {
    width: 100%;
    max-width: 120px;
  }
}
