.cmm-panel {
  width: 100%;
  margin: 20px 0px 10px 0px;
  flex-wrap: wrap;
  .cmm-search-bar {
    width: 100%;
    max-width: 500px;
  }
  .cmm-button-group {
    width: 100%;
    max-width: 250px;
    > button {
      width: 80px;
      padding: 5px;
    }
  }
}

.cmm-list-board {
  .cmm-list-item-column:nth-child(2) {
    text-align: center;
  }
  .cmm-list-item-column:nth-child(3) {
    flex: 7;
  }
  .cmm-list-item-column:nth-child(4) {
    flex: 2;
  }
  .cmm-list-item-column:nth-child(5) {
    flex: 3;
  }
}

.cmm-pagination {
  margin-top: 50px;
}
